TMDB_API_KEY=***Insert you tmdb api key here****
DATABASE_URL=***Insert your DATABASE_URL here****
JWT_SECRET=***Insert a STRONG JWT_SECRET_KEY here****
JWT_EXPIRES_IN=***Insert the JWT_EXPIRE_TIME here****
JWT_REFRESH_SECRET=***Insert a STRONG JWT_REFRESH_SECRET_KEY here****
JWT_REFRESH_EXPIRES_IN=***Insert the JWT_REFRESH_EXPIRE_TIME here****